.news-wrapper {
    padding: 50px 70px;
}

.updates-heading {
    font-size: 45px;
}

.trending-news-card {
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.trending-news-card .trending-news-card-img {
    width: 55%;
    height: 300px;
    text-decoration: none;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-news-card .trending-news-card-img img,
.news-card .news-card-img img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .7s;
}

.trending-news-card .trending-news-card-img img:hover,
.news-card .news-card-img img:hover {
    transform: scale(1.2);
}

.trending-news-card .trending-news-card-details {
    width: 40%;
}

.trending-news-card .trending-news-card-details {
    width: 40%;
}

.trending-news-card .trending-news-card-title,
.news-card .news-card-title {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 18px;
}

.trending-news-card .trending-news-card-title h2,
.news-card .news-card-title h2 {
    transition: 0.5s;
}

.trending-news-card .trending-news-card-title h2:hover,
.news-card .news-card-title h2:hover {
    color: var(--color-hover);
}

.trending-news-card .trending-news-card-date-time-content,
.news-card .news-card-date-time-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.trending-news-card .trending-news-card-date-time-content p span,
.news-card .news-card-date-time-content p span {
    font-weight: 600;
}

.news-card-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    transition: all 0.3s ease;
    margin-bottom: 20px !important;
}

.news-card {
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
}

.news-card .news-card-img {
    width: 100%;
    overflow: hidden !important;
    height: 250px;
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
}

.noBlogContainer {
    width: 60%;
    margin: auto;
    text-align: center;
}

.noBlogImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.noBlogImage img {
    width: 100%;
}

.noBlogContainer h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .news-wrapper {
        padding: 20px;
    }

    .trending-news-card {
        flex-direction: column;
    }

    .trending-news-card .trending-news-card-img,
    .trending-news-card .trending-news-card-details {
        width: 100%;
    }

    .news-card-row {
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    
    .noBlogContainer {
        width: 80%;
    }

    .noBlogContainer .noBlogImage{
        width: 50%;
    }
}

@media (max-width: 500px) {

    .updates-heading {
        font-size: 25px;
    }
    
    .noBlogContainer {
        width: 100%;
    }

    .noBlogContainer .noBlogImage{
        width: 100%;
    }

    .news-card-row {
        grid-template-columns: repeat(1, 1fr);
    }
}


.singleNewsWrapper {
    padding: 50px;
}

.singleNewsWrapper .updates-heading {
    font-size: 35px;
    margin-bottom: 30px;
}

.singleNewsContainer {
    width: 100%;
    margin: auto;
}

.singleNewsDetails {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.newsAuthor, .singleNewsDateContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.newsAuthorImg {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsAuthorImg img {
    width: 50%;
}

.singleNewsDateContainer {
    color: var(--color-dark-gray);
}

.singleNewsDateContainer svg {
    width: 20px;
    height: 20px;
    fill: var(--color-dark-gray);
}

.singleNewsArticle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0;
}

.singleNewsArticle article {
    width: 60%;
}

.singleNewsImage {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    height: 350px;
}

.singleNewsImage img {
    width: 100%;
    height: 100%;
}

.recentPosts {
    width: 35%;
    padding: 30px;
    border: 1px solid var(--color-border-gray);
    border-radius: 12px;
}

.recentPosts ul {
    margin-top: 20px;
}

.recentPosts ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.recentPosts ul li span svg {
    width: 20px;
    height: 20px;
    transition: 0.5s ease;
}

.recentPosts ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.5s ease;
}

.recentPosts ul li:hover span svg {
    fill: var(--color-hover);
}

.recentPosts ul li:hover a {
    color: var(--color-hover);
}

@media (max-width: 900px) {
    .singleNewsWrapper {
        padding: 20px;
    }

    .singleNewsWrapper .updates-heading {
        font-size: 25px;
        margin: 0 !important;
    }

    .singleNewsContainer {
        width: 100%;
        margin: auto;
    }

    .singleNewsDetails {
        margin-top: 20px;
        gap: 5px;
    }

    .newsAuthorImg {
        width: 30px;
        height: 30px;
    }

    .singleNewsDateContainer svg {
        width: 20px;
        height: 20px;
    }

    .singleNewsArticle{
        margin: 50px 0;
    }

    .singleNewsArticle article {
        width: 60%;
    }

    .recentPosts {
        padding: 15px;
    }
}

@media (max-width: 500px) {
    .singleNewsArticle{
        flex-wrap: wrap;
    }

    .singleNewsArticle article {
        width: 100%;
    }

    .recentPosts {
        width: 100%;
        margin-top: 40px;
    }

    .singleNewsDetails {
        flex-wrap: wrap;
    } 

    .newsAuthor, .singleNewsDateContainer {
        gap: 7px;
    }
}